html,
body {
	width: 1000px;
	margin: 0 auto;
}

h2{
	font-size: 28px;
}

.flex-container{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: space-around;
	height: 960px;
}

.flex-block{
	width: 280px;
}

.image-wrap{
	box-shadow: 0 0 8px 4px #EBEBEB;
	border-radius: 5px;
	padding: 15px;
}

.first-img,
.second-img{
	cursor: pointer;
	height: 300px;
}

.first-img{
	background: url(th1.png) no-repeat 0 0;
	background-size: 100%;
}

.second-img{
	background: url(th2.png) no-repeat 0 0;
	background-size: 100%;
}

.mask{
	visibility: hidden;
	background: rgba(0,0,0,.4);
	height: 100%;
	width: 100%;
	color: #ddd;
	font-size: 18px;
	padding: 120px 60px;
	box-sizing: border-box;
}

.grey{
	color: #aaa;
}

.lime{
	color: #8BC643;
	letter-spacing: .5px;
}

.first-img:hover .mask,
.second-img:hover .mask{
	visibility: visible;
}

.buttons-container{
	display: flex;
	justify-content: space-between;
}

button{
	color: #555;
	padding: 8px 30px;
	font-size: 18px;
	border: 2px solid #eee;
	border-radius: 5px;
	background-image: linear-gradient(to top, #E9EAE4, #fff);
	margin-top: 20px;
	cursor: pointer;
	transition: .5s;
}

button:hover{
	color: #fff;
	border: 2px solid #DAE6CA;
	background: #8BC643;
}