h2{
	font-size: 36px;
}

.float-menu li{
	list-style: none;
	width: 30%;
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 30px;
}

.border{
	box-shadow: 0 0 8px 4px #EBEBEB;
	border-radius: 5px;
	padding: 15px;
}

.float-menu li:nth-child(3n){
	margin-right: 0;
}

.first-img,
.second-img{
	height: 350px;
}

.first-img{
	background: url(th1.png) no-repeat 0 0;
	background-size: contain;
	cursor: pointer;
	position: relative;
}

.mask{
	visibility: hidden;
	position: absolute;
	background: rgba(0,0,0,.4);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	color: #ddd;
	font-size: 22px;
	padding: 130px 90px;
	box-sizing: border-box;
}

.grey{
	color: #aaa;
}

.lime{
	color: #8BC643;
	letter-spacing: .5px;
}

.first-img:hover .mask{
	visibility: visible;
}

.second-img{
	background: url(th2.png) no-repeat 0 0;
	background-size: contain;
	cursor: pointer;
	position: relative;
}

.second-img:hover .mask{
	visibility: visible;
}

.menu-justify{
	text-align: justify;
}

.menu-justify:after{
	content: "";
	width: 100%;
	display: inline-block;
}

button{
	color: #555;
	padding: 8px 34px;
	font-size: 24px;
	border: 2px solid #ccc;
	border-radius: 5px;
	background-image: linear-gradient(to top, #E9EAE4, #fff);
	margin-top: 20px;
	display: inline-block;
	cursor: pointer;
	transition: .5s;
}

button:hover{
	color: #fff;
	border: 2px solid #DAE6CA;
	background: #8BC643;
}